@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  position: relative;
  z-index: 100;
  user-select: none;
}

body{
  overflow: hidden!important;
}

.colorRed{
  color: red;
  position: absolute;
  bottom: -69px;
  font-size: 14px;
  
}

header{
  width: 100%;
  height: 8vh;
  background-color: #000;
  color: #fff;
  opacity: 0.8;
}

header nav{
  width: 100%;
  height: 100%;
}

header nav ul{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}

header nav ul li{
  list-style: none;
  text-decoration: none;
  width: 100px;
  height: 100%;
  transition: all 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav ul li a{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transition: all 0.3s;
}

header nav ul li a:hover{
  background-color: hsla(0, 0%, 7%, 0.5);
}

main{
  height: 92vh;
}

body{
  background-image: url('../../public/chessMain.jpg');
    background-repeat: no-repeat;
    background-position: 0;
    background-size: cover;
    height: 100vh;
}

main div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #fff;
}

main div h1{
  font-size: 28px;
  font-weight: 100;
}

main div h3{
  font-weight: 100;
}

.mainEmpezar{
  color: #fff;
  background-color: hsla(0, 0%, 13%, 0.8);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 160px;
  border-radius: 30px;
  transition: all 0.3s;
  margin-top: 20px;
}

.mainEmpezar:hover{
  transform: scale(0.95);
  background-color: rgba(156, 114, 36, 0.6);
}

/* TOURNAMENTS */

.tournaments{
  width: 100%;
  height: 92%;
  display: flex;
}

.tournamentsContainer{
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  max-width: 23%;
}

.tournamentFlex{
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  width: 100%;
  height: 130px;
}


.startTournament{
  color: #fff;
  background-color: hsla(0, 0%, 13%, 0.8);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  transition: all 0.3s;
}

.startTournament:hover{
  background-color: rgba(156, 114, 36, 0.6);
}

.createTournament{
  display: flex;
  flex-direction: column;
  align-items: space-between;
  height: 130px;
  width: 100%;
  justify-content: space-between;
}

.createTournament h4{
  color: #fff;
  width: 100%;
}

.createTournament input{
  height: 40px;
  padding: 5px;
  width: 100%;
}

.createTournament input:focus{
  outline: none ;
  box-shadow: none;
  border: 1px solid rgb(248, 170, 26); /* Puedes ajustar el color y el ancho según tus preferencias */
  border-radius: 5px; 
}

.createTournament button{
  color: #fff;
  background-color: hsla(0, 0%, 13%, 0.8);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  transition: all 0.3s;
}

.createTournament button:hover{
  background-color: rgba(156, 114, 36, 0.6);
}

.tournamentResults{
  width: 100%;
  color: #fff;
  background-color: hsla(0, 0%, 13%, 0.8) !important;
  height: 60vh;
  margin-top: 50px;
  overflow-y: auto ;
}

.baseClass{
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 1px solid rgba(202, 202, 202, 0.5) !important;
  cursor: pointer;
  height: 40px;
  padding: 10px 0px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.baseClass:hover{
  background-color: rgba(156, 114, 36, 0.6);
}

.colorGreen{
  color: green !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 65px;
}

.deleteTournamentButton{
  height: 39px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  font-size: 20px;
  background-color: rgba(128, 0, 0, 0.5);
}

.deleteTournamentButton:hover{
  background-color: rgba(128, 0, 0, 0.7) !important;
}

.trashIcon{
  transition: all 0.3s;
}

.deleteTournamentButton:hover .trashIcon{
  transform: scale(0.9)
}

.deleteTournamentButton:hover{
  background-color: rgba(156, 114, 36, 0.6);
}

.selectedTournament{
  background-color: rgba(156, 114, 36, 0.6);
  border: 1px solid rgb(248, 170, 26) !important;
}

.selectedPlayer{
  background-color: rgba(156, 114, 36, 0.6);
  border: 1px solid rgb(248, 170, 26) !important;
}

.playersContainer{
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between !important;
  padding: 40px !important;
}

.playersResultsContainer{
  display: flex;
  height: 60vh !important;
  margin-top: 50px;
  max-height: 60vh !important;
}

.startedTournament{
  background-color: rgba(0, 128, 0, 0.2);
  border: none !important; 
  border-bottom: 1px solid rgba(202, 202, 202, 0.5) !important;
}

.startedTournament:hover{
  background-color: rgba(0, 128, 0, 0.3);
}

.finishedTournament{
  background-color: rgba(128, 0, 0, 0.2);
  border: none !important; 
  border-bottom: 1px solid rgba(202, 202, 202, 0.5) !important;
}

.finishedTournament:hover{
  background-color: rgba(128, 0, 0, 0.3)!important;
}

.selectedFinishedTournament{
  border: 1px solid rgb(88, 27, 27) !important;
}

.selectedStartedTournament{
  border: 1px solid rgb(23, 77, 23) !important;
  background-color: rgba(0, 128, 0, 0.6);
}

.playersResults{
  width: 50%;
  color: #fff;
  background-color: hsla(0, 0%, 13%, 0.8);
  justify-content: flex-end;
  margin-right: 20px;
}

.tournamentDetailsInfo{
  width: 50% !important;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  height: 130px !important;
  
}

.tournamentDetailsInfo > div{
  width: 100% !important;
  display: flex;
  flex-direction: row !important;
  height: 90px !important;
}

.tournamentDetailsInfo > div > div:first-child{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}

.tournamentDetailsInfo > div > div:first-child label{
  margin-bottom: 13px;
}

.tournamentDetailsInfo > div > div:first-child > div{
  display: flex;
  flex-direction: row;
  width: 100%;

  height: fit-content;
}

.tournamentDetailsInfo > div > div:first-child > div button{
  color: #fff;
  background-color: hsla(0, 0%, 13%, 0.8);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 40px !important;
  transition: all 0.3s;
  box-sizing: content-box;
}

.tournamentDetailsInfo > div > div:first-child > div button:hover{
  background-color: rgba(156, 114, 36, 0.6);
}

.playersResultsFastAdd{
  width: 50%;
  color: #fff;
  background-color: hsla(0, 0%, 13%, 0.8);
  height: 100% !important;
  justify-content: flex-end;
  margin-left: 20px;
}

.playersResultsFastAdd:last-child{
  margin-right: 0 !important;
}

.playersResultsFastAdd div{
  height: 91%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.tournamentName{
  color: rgb(248, 170, 26)
}

.playersResultsFastAdd h3{
  height: 40px;
  display: flex;
  align-items: center;
  background-color: rgba(156, 114, 36, 0.6);
  width: 100%;
  padding: 10px;
  z-index: 2000;
  border-bottom: 1px solid rgb(248, 170, 26) !important;
}

.playersResultsFastAdd p{
  transition: all 0.3s;
  border-bottom: 1px solid rgba(202, 202, 202, 0.5);
  cursor: pointer;
  height: 40px;
  padding: 10px 0px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.playersResultsFastAdd p > span{
  display: flex;
}

.playersResultsFastAdd p:hover{
  background-color: rgba(156, 114, 36, 0.6);
}


.playersResults:last-child{
  margin-right: 0 !important;
}

.playersResults div{
  height: 91%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.tournamentName{
  color: rgb(248, 170, 26)
}

.playersResults h3{
  height: 40px;
  display: flex;
  align-items: center;
  background-color: rgba(156, 114, 36, 0.6);
  width: 100%;
  padding: 10px;
  z-index: 2000;
  border-bottom: 1px solid rgb(248, 170, 26) !important;
}

.playersContainer h3 span:last-child{
  background-color: rgba(248, 170, 26, 0.4);
  height: 40px;
  display: flex;
  align-items: center;
  width: 50px;
  justify-content: center;
  position: absolute;
  right: 0 !important;
  border: 1px solid rgba(248, 170, 26, 0.4); ;
}

.playersResults p{
  border-bottom: 1px solid rgba(202, 202, 202, 0.5);
  cursor: pointer;
  height: 40px;
  padding: 10px 0px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.playersResults p > span{
  display: flex;
}

.playersResults p:hover{
  background-color: rgba(156, 114, 36, 0.6);
}

.addPlayer{
  height: 130px;
  display: flex;
}

.addPlayerContainer{
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 50% !important;
  height: 130px !important;
  margin-right: 20px;
  align-items: flex-start !important;
  justify-content: space-between !important;
}

.addPlayerDiv{
  width: 100% !important;
  display: flex;
  flex-direction: row !important;
  height: 40px !important;
  justify-content: space-between !important;
  overflow: hidden;
  flex-wrap: nowrap;
}

.addPlayerContainer > h4{
  color: #fff;
}

.addPlayerContainer button{
  color: #fff;
  background-color: hsla(0, 0%, 13%, 0.8);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  transition: all 0.3s;
}

.addPlayerContainer button:hover{
  background-color: rgba(156, 114, 36, 0.6);
}


.addPlayerDiv input{
  height: 40px !important;
  padding: 0 0 0 5px;
  width: 48%;
}

input:focus{
  outline: none ;
  box-shadow: none;
  border: 1px solid rgb(248, 170, 26); /* Puedes ajustar el color y el ancho según tus preferencias */
  border-radius: 5px; 
}

.addPlayer input:focus{
  border: 1px solid rgb(248, 170, 26); /* Puedes ajustar el color y el ancho según tus preferencias */
  border-radius: 5px;
}

.addPlayer button{
  color: #fff;
  background-color: hsla(0, 0%, 13%, 0.8);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 93px;
  width: 20%;
  transition: all 0.3s;
  margin-top: 13px;
  box-sizing: content-box;
}

.tournamentRounds{
  width: 50px !important;
  background-color: #fff;
  width: 50px;
  height: 40px;
  display: flex;
  padding-left: 5px;
  align-items: center;
}

.tournamentRoundsStarted{
  width: 50px !important;
  background-color: #ffffff59;
  width: 50px;
  height: 40px;
  display: flex;
  padding-left: 5px;
  align-items: center;
}

.byeContainer{
  display: flex;
  flex-direction: column!important;
  align-items: flex-start !important;
  justify-content: flex-start !important;
  width: 80%;
}

.containerBye{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px !important;
}

.containerBye input:first-child{
  margin-left: 6px !important;
}

.containerBye input:last-child{
  margin-left: 6px !important
}

.byeContainer p{
  color: #fff;
  margin-bottom: 13px;
}

.tournamentDetails label {
  color: #fff;
}

.inputBye{
  margin: 10px !important;
}

.inputBye:active{
  border: none !important;
  outline: none !important
}

.addPlayer button:hover{
  background-color: rgba(156, 114, 36, 0.6);
}

.tournamentDetails{
  height: 130px !important;
  min-height: 130px !important;
  width: 100%;
  display: flex;
}

.tournamentDetails > div{
  height: 90px;
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-between;
}

.tournamentDetails > div > div{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.tournamentDetails > div > div > label{
  margin-bottom: 13px;
}


.tournamentDetails > div > div > div{
  display: flex;
}

.tournamentDetails > div > div > div > div{
  display: flex;
  flex-direction: column;
  height: 40px;
  width: 30px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.tournamentDetails > div > div > div > div button{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.d-none{
  display: none !important;
}

.addPlayerButton{
  height: 39px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px 10px 15px;
  font-size: 20px;
  background-color: rgba(3, 176, 43, 0.25);
  right: 0 !important;
}

.addPlayerButton:hover{
  background-color: rgba(3, 176, 43, 0.5);
}

.addIcon{
  transition: all 0.3s;
}

.addPlayerButton:hover .addIcon{
  transform: scale(0.9)
}


/* STARTED TOURNAMENT */

.startedTournamentContainer{
  display: flex;
  justify-content: space-between;
}

.startedTournamentRoundsContainer{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  height: 75vh !important;
}

.selectedRound{
  background-color: rgba(156, 114, 36, 0.6) !important;
  border: 1px solid rgb(248, 170, 26) !important;
  cursor: pointer !important;
}

.startedTournamentRoundsContainer > div{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  max-height: 55vh;
}


.startedTournamentRoundsContainer > div > div{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 55vh;
}

.startedTournamentRoundsContainer > div > div > p{
  color: #fff;
  background-color: hsla(0, 0%, 13%, 0.8);
  padding: 10px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid hsla(0, 0%, 13%, 0.8);
  margin-bottom: 10px;
}

.startedTournamentRoundsContainer > div > div > p:hover{
  background-color: rgba(156, 114, 36, 0.6);
  border: 1px solid rgb(248, 170, 26) 
}

.startedTournamentRoundsContainer > div button{
  background-color: rgba(156, 114, 36, 0.6);
  border: 1px solid rgb(248, 170, 26);
  padding: 20px;
  transition: all 0.3s;
  cursor: pointer;
  margin-top: 20px;
  color: #fff;
  width: 90%;
}

.startedTournamentRoundsContainer > div button:hover{
  background-color: hsla(0, 0%, 13%, 0.8);
  border: 1px solid hsla(0, 0%, 13%, 0.8);
}

.startedTournamentPairing{
  width: 100%;
}

.startedTournamentResults{
  width: 40%;
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.startedTournamentResults ul{
  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.startedTournamentResults ul div{
  overflow: auto;
  border: 1px solid rgba(202, 202, 202, 0.5);
}

.startedTournamentResults ul li{
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid rgba(202, 202, 202, 0.5);
  background-color: hsla(0, 0%, 13%, 0.8);
}

.startedTournamentResults ul > li:first-child{
  background-color: rgba(156, 114, 36, 0.6);
  border: 1px solid rgb(248, 170, 26);
}

/* PAIRING */

.pairingContainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 92vh;
  padding: 40px;
  padding-top: 0;
}

.pairingContainer h2{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff
}

.pairingContainer ul{
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  overflow-y: auto;
}

.pairingsDivLiContainer{
  display: flex;

}

.pairingsDivLiContainer > span{
  background-color: rgba(156, 114, 36, 0.6);
  border: 1px solid rgb(248, 170, 26);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-right: 15px;
}

.pairingContainer ul li{
  display: flex;
  color: #fff;
  width: 100%;
  align-items: center;
  height: 40px;
  background-color: hsla(0, 0%, 13%, 0.8);
  margin: 10px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  max-height: 80px;
}

.pairingContainer ul li{
  margin-top: 0 !important;
}

.pairingContainer ul li span{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 33.3%;
  
}

.pairingContainer ul li span{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 33.3%;
}

.pairingContainer ul li span:last-child{
  justify-content: flex-end!important;
  padding-right: 10px;
}

.pairingContainer ul li span:first-child{
  padding-left: 10px;
}

.pairingContainer ul li span button{
  height: 40px !important;
  width: 100%;
  display: flex;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(248, 170, 26);
}

.pairingContainer ul li span button:nth-child(2){
  background-color: hsla(0, 0%, 13%, 0.8);
  border-right: none !important;
  border-left: none !important;
}

.pairingContainer ul li span button:last-child{
  color: #000;
}

.pairingContainer ul li span button:hover:not(.changeResultsButton){
  background-color: hsla(0, 0%, 13%, 0.8);
}

.buttonReemparejar{
    background-color: rgba(156, 114, 36, 0.6);
    border: 1px solid rgb(248, 170, 26);
    width: 90%;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all 0.3s;
    margin-top: 40px;
}

.buttonReemparejarFinished{
    background-color: hsla(0, 0%, 13%, 0.8) !important;
    border: 1px solid hsla(0, 0%, 13%, 0.8) !important;
    width: 90%;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all 0.3s;
    margin-top: 40px;
}

.buttonReemparejar:hover{
  background-color: hsla(0, 0%, 13%, 0.8) !important;
  border: 1px solid hsla(0, 0%, 13%, 0.8) !important
}

.nextRound{
  color: #fff;
  background-color: rgba(156, 114, 36, 0.6);
  border: 1px solid rgb(248, 170, 26);
  width: 33%;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.byeButton{
  color: #fff !important;
}

.nextRound:hover{
  background-color: hsla(0, 0%, 13%, 0.8);
  border: 1px solid hsla(0, 0%, 13%, 1);
}

.nextRoundDisabled{
  color: #fff;
  background-color: hsla(0, 0%, 13%, 0.8);
  width: 33%;
  height: 40px;
  cursor: default !important;
}

.selectedWinner{
  background-color: rgba(156, 114, 36, 0.6) !important;
}

.selectedBye{
  color: #fff !important;
  background-color: rgba(156, 114, 36, 0.6) !important;
}

.disabledRound{
  background-color: hsla(0, 0%, 13%, 0.8) !important;
  cursor: default!important;

}

.disabledRound:hover{
  border: 1px solid hsla(0, 0%, 13%, 0.8) !important;
}

.finalResultsContainer{
  width: 50%;
  color: #fff;
  background-color: hsla(0, 0%, 13%, 0.8);
  height: 60vh;
  justify-content: flex-end;
  margin-left: 20px;
}

.finalResults{
  height: 90%;
}

.finalResultsScroll{
  height: 100% !important
}

.finalResults li{
  width: 100%;
  border-bottom: 1px solid rgba(202, 202, 202, 0.5);
  height: 40px !important;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
}

.finalResults p{
  height: 40px;
  background-color: rgba(156, 114, 36, 0.6);
  border-bottom: 1px solid rgb(248, 170, 26);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px
}